<link rel="stylesheet" href="css/application.css">

<h1>VAPORWARE <span> TM </span></h1>

      <nav>

                <a href="genres.html">
                        GENRES  
                </a>

                <a href="songs.html">
                        SONGS
                </a>
                
                <a href="about.html">
                        ABOUT
                </a>
        </nav>

<a href = "genres.html"> GENRES  </a>

<a href="songs.html"> SONGS </a>

<a href="about.html"> ABOUT </a>


<% @tracks.each do |track| %>

  <%= "<iframe width='50%' height='250' scrolling='no' frameborder='no' src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/#{track.id}&amp;auto_play=false&amp;hide_related=false&amp;visual=true'></iframe>".html_safe %>
<% end %>
